<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.personal.management.mapper.DictItemMapper">

    <!--
     物理删除：根据 LambdaQueryWrapper 条件执行 DELETE 语句
     方法：void physicalDelete(@Param("wrapper") LambdaQueryWrapper<DictItem> wrapper);
    -->
    <delete id="physicalDelete">
        DELETE FROM dict_item
        <!-- 引入 wrapper 中的条件（会自动拼接 WHERE 子句） -->
        <if test="ew != null">
            ${ew.customSqlSegment}
        </if>
    </delete>

</mapper>