CREATE TABLE IF NOT EXISTS tasks (id INTEGER PRIMARY KEY AUTOINCREMENT, title VARCHAR(255) NOT NULL, description TEXT, start_time DATETIME, end_time DATETIME, priority INTEGER DEFAULT 1, status VARCHAR(50) DEFAULT 'pending', category VARCHAR(100), tags VARCHAR(500), reminder_time DATETIME, is_all_day BOOLEAN DEFAULT FALSE, repeat_type VARCHAR(50), repeat_end_date DATETIME, created_time DATETIME DEFAULT CURRENT_TIMESTAMP, updated_time DATETIME DEFAULT CURRENT_TIMESTAMP, deleted BOOLEAN DEFAULT FALSE);
